<div align="left" style="background-color: #008080; padding: 20px 10px;">
<h3><b>IDEAS - Institute of Data Engineering, Analytics and Science Foundation</b></h3>
<p>Spring Internship Program 2026</p>
<hr style="width:100%;">
<h3><b>Project Title:</b> Exploratory data analysis with sales data.</h3>
<h4>Project Notebook</h4>

<blockquote style="border-left: 4px solid #4285F4; padding-left: 15px;">
  <strong>Created by:</strong> Koulika Paul<br>
  <strong>Designation:</strong> Project Linked Associate Research Engineer in Statistics
</blockquote>
<hr style="width:100%;">
</div>

### Question 1: Import Libraries and Load Data (5 Marks)

Import `pandas` as `pd` and `numpy` as `np`. Load the dataset from `/data/House Price India.csv` into a DataFrame called `house_data` and display its first 5 rows.

**Hint:** Use `pd.read_csv()` to load the data. To display the first few rows, use the `.head()` method.

**Expected Output:** A table showing the first 5 rows of the house price dataset.

In [ ]:
# Write your answer here
import numpy as np
import pandas as pd

house_data = pd.read_csv('/content/house_price_india.csv')
house_data.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

### Question 2: Data Inspection (5 Marks)

Inspect the `house_data` DataFrame. Print its shape to see the number of rows and columns, and then check for the total number of duplicate rows in the dataset.

**Hint:** Use `df.shape` for dimensions and `df.duplicated().sum()` to count duplicate rows.

**Expected Output:** The shape of the DataFrame (e.g., `(14620, 23)`) and the total count of duplicate rows.

In [ ]:
# Write your answer here
print(f'The shape of the dataframe is {house_data.shape}')
print(f'The total count of duplicate rows is {house_data.duplicated().sum()}')

The shape of the dataframe is (14620, 23)
The total count of duplicate rows is 0

### Question 3: Data Types and Missing Values (5 Marks)

Display the data types of all columns in the `house_data` DataFrame. Then, calculate and print the total number of missing (null) values for each column.

**Hint:** Use `.dtypes` to see the data types. Use `.isnull().sum()` to count missing values per column.

**Expected Output:** A list of columns with their data types, followed by a list of columns and their respective missing value counts.

In [ ]:
# Write your answer here
print(house_data.dtypes)
missing_values = house_data.isnull().sum()
print(missing_values)

id                                         int64
Date                                       int64
number of bedrooms                         int64
number of bathrooms                      float64
living area                                int64
lot area                                   int64
number of floors                         float64
waterfront present                         int64
number of views                            int64
condition of the house                     int64
grade of the house                         int64
Area of the house(excluding basement)      int64
Area of the basement                       int64
Built Year                                 int64
Renovation Year                            int64
Postal Code                                int64
Lattitude                                float64
Longitude                                float64
living_area_renov                          int64
lot_area_renov                             int64
Number of schools nearby                   int64
Distance from the airport                  int64
Price                                      int64
dtype: object
id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

### Question 4: Column Cleanup (10 Marks)

Drop the following columns from the `house_data` DataFrame as they are not needed for this analysis: 'Date', 'Longitude', 'Renovation Year', 'Postal Code', 'Lattitude', 'living_area_renov', 'lot_area_renov'. Print the remaining columns.

**Hint:** Use the `.drop()` method with a list of column names and `axis=1`. Remember to assign the result back to the DataFrame or use `inplace=True`.

**Expected Output:** A printed Index object showing the list of remaining column names.

In [ ]:
# Write your answer here
house_data.drop(['Date','Longitude','Renovation Year','Postal Code','Lattitude','living_area_renov','lot_area_renov'],axis=1, inplace=True)
print(house_data.columns)

Index(['id', 'number of bedrooms', 'number of bathrooms', 'living area',
       'lot area', 'number of floors', 'waterfront present', 'number of views',
       'condition of the house', 'grade of the house',
       'Area of the house(excluding basement)', 'Area of the basement',
       'Built Year', 'Number of schools nearby', 'Distance from the airport',
       'Price'],
      dtype='object')

### Question 5: Descriptive Statistics (10 Marks)

Generate and display the descriptive statistics for only the numerical columns of the cleaned `house_data` DataFrame.

**Hint:** Use the `.describe()` method. It automatically selects numerical columns.

**Expected Output:** A table showing count, mean, std, min, 25%, 50%, 75%, and max for the numerical columns.

In [ ]:
# Write your answer here
print(house_data.describe())

                 id  number of bedrooms  number of bathrooms   living area  \
count  1.462000e+04        14620.000000         14620.000000  14620.000000
mean   6.762821e+09            3.379343             2.129583   2098.262996
std    6.237575e+03            0.938719             0.769934    928.275721
min    6.762810e+09            1.000000             0.500000    370.000000
25%    6.762815e+09            3.000000             1.750000   1440.000000
50%    6.762821e+09            3.000000             2.250000   1930.000000
75%    6.762826e+09            4.000000             2.500000   2570.000000
max    6.762832e+09           33.000000             8.000000  13540.000000

           lot area  number of floors  waterfront present  number of views  \
count  1.462000e+04      14620.000000        14620.000000     14620.000000
mean   1.509328e+04          1.502360            0.007661         0.233105
std    3.791962e+04          0.540239            0.087193         0.766259
min    5.200000e+02          1.000000            0.000000         0.000000
25%    5.010750e+03          1.000000            0.000000         0.000000
50%    7.620000e+03          1.500000            0.000000         0.000000
75%    1.080000e+04          2.000000            0.000000         0.000000
max    1.074218e+06          3.500000            1.000000         4.000000

       condition of the house  grade of the house  \
count            14620.000000        14620.000000
mean                 3.430506            7.682421
std                  0.664151            1.175033
min                  1.000000            4.000000
25%                  3.000000            7.000000
50%                  3.000000            7.000000
75%                  4.000000            8.000000
max                  5.000000           13.000000

       Area of the house(excluding basement)  Area of the basement  \
count                           14620.000000          14620.000000
mean                             1801.783926            296.479070
std                               833.809963            448.551409
min                               370.000000              0.000000
25%                              1200.000000              0.000000
50%                              1580.000000              0.000000
75%                              2240.000000            580.000000
max                              9410.000000           4820.000000

         Built Year  Number of schools nearby  Distance from the airport  \
count  14620.000000              14620.000000               14620.000000
mean    1970.926402                  2.012244                  64.950958
std       29.493625                  0.817284                   8.936008
min     1900.000000                  1.000000                  50.000000
25%     1951.000000                  1.000000                  57.000000
50%     1975.000000                  2.000000                  65.000000
75%     1997.000000                  3.000000                  73.000000
max     2015.000000                  3.000000                  80.000000

              Price
count  1.462000e+04
mean   5.389322e+05
std    3.675324e+05
min    7.800000e+04
25%    3.200000e+05
50%    4.500000e+05
75%    6.450000e+05
max    7.700000e+06

### Question 6: Group by Bedrooms (10 Marks)

Group the `house_data` DataFrame by the 'number of bedrooms' and calculate the average price for each group. Display the resulting Series.

**Hint:** Use `.groupby('number of bedrooms')['Price'].mean()`.

**Expected Output:** A Pandas Series with the number of bedrooms as the index and the average price as the values.

In [ ]:
# Write your answer here
avg_price_by_bedrooms = house_data.groupby('number of bedrooms')['Price'].mean()
print(avg_price_by_bedrooms)

number of bedrooms
1     3.089638e+05
2     3.985476e+05
3     4.632776e+05
4     6.361988e+05
5     7.752550e+05
6     8.375815e+05
7     1.016544e+06
8     1.208455e+06
9     7.766663e+05
10    8.200000e+05
11    5.200000e+05
33    6.400000e+05
Name: Price, dtype: float64

### Question 7: Houses with Waterfront (10 Marks)

Calculate the total number of houses that have a waterfront view. Then, calculate the average price of houses with a waterfront view versus those without.

**Hint:** For the count, use `df['waterfront present'].value_counts()`. For the average price, use `.groupby('waterfront present')['Price'].mean()`.

**Expected Output:** The count of houses with and without waterfronts, followed by their average prices.

In [ ]:
# Write your answer here
waterfront_counts = house_data['waterfront present'].value_counts()
print("Count of Houses (0 = No Waterfront, 1 = Waterfront):")
print(waterfront_counts)
avg_price_waterfront = house_data.groupby('waterfront present')['Price'].mean()
print('\n Average Price (0 = No Waterfront, 1 = Waterfront):')
print(avg_price_waterfront)

Count of Houses (0 = No Waterfront, 1 = Waterfront):
waterfront present
0    14508
1      112
Name: count, dtype: int64

 Average Price (0 = No Waterfront, 1 = Waterfront):
waterfront present
0    5.304174e+05
1    1.641902e+06
Name: Price, dtype: float64

### Question 8: Feature Selection based on Correlation (15 Marks)

Calculate the correlation of all numerical features with the 'Price' column. Create a list named `highly_correlated_features` containing the names of features that have a correlation with 'Price' greater than 0.5. Print this list.

**Hint:** First calculate the full correlation matrix with `.corr()`. Then, select the 'Price' column from it. Filter this series to find features where the correlation value is > 0.5 and get their index.

**Expected Output:** A list of strings, where each string is the name of a highly correlated feature.

In [ ]:
# Write your answer here
correlation_matrix = house_data.corr()
price_correlation = correlation_matrix['Price']
highly_correlated_features = price_correlation[(price_correlation > 0.5) & (price_correlation.index != 'Price')].index.tolist()
print(highly_correlated_features)

['number of bathrooms', 'living area', 'grade of the house', 'Area of the house(excluding basement)']

### Question 9: Prepare Data for Modeling (15 Marks)

Using the `highly_correlated_features` list from the previous question, create your feature matrix `X`. Your target vector `y` should be the 'Price' column. Then, split `X` and `y` into training and testing sets with a `test_size` of 0.3 and a `random_state` of 123.

**Hint:** Create `X` by selecting columns from the main DataFrame: `df[highly_correlated_features]`. Then use `train_test_split`.

**Expected Output:** No direct output. The variables `X_train`, `X_test`, `y_train`, and `y_test` will be created.

In [ ]:
# Write your answer here
from sklearn.model_selection import train_test_split
X = house_data[highly_correlated_features]
y = house_data['Price']
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=123
)

### Question 10: Train and Evaluate a Linear Regression Model (15 Marks)

Import `LinearRegression` from `sklearn.linear_model` and `r2_score` from `sklearn.metrics`. Train a linear regression model on your training data. Make predictions on the test data and print the R-squared score.

**Hint:** Follow the instantiate, fit, predict, and score pattern. The `r2_score` function takes `y_test` and your predictions as arguments.

**Expected Output:** A single decimal number representing the R-squared score of the model.

In [ ]:
# Write your answer here
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
r2 = r2_score(y_test, y_pred)
print(f'R-squared score: {r2:.2f}')

R-squared score: 0.56